@media screen and (min-width: 768px) {
  .model-flex {
    display: flex;
    gap: 3rem;
    justify-content: center;
  }
  .model-three-features h3 {
    font-size: 2rem;
  }
}
.modelText {
  max-width: 900px;
  width: 100%;
  padding: 2rem 1.5rem;
}

@media screen and(min-width:768px) {
  .modelText {
    padding-left: 5rem;
  }
}

.model-powertrain {
  width: 90%;
  margin: 0 auto;
}
.navPosition {
  position: static;
  margin-bottom: -5rem;
}
