// MODEL S
.modelS {
  background-image: url("/img/tesla-model-s.jpg");
}
// MODEL 3
.model3 {
  background-image: url("/img/tesla-model-3.jpg");
}
// MODEL Y
.modelY {
  background-image: url("/img/tesla-model-y.jpg");
}
// MODEL X
.modelX {
  background-image: url("/img/tesla-model-x.jpg");
}
// SOLAR PANELS
.solarPanels {
  background-image: url("/img/tesla-solar-panels.jpg");
}
// SOLAR ROOF
.solarRoof {
  background-image: url("/img/tesla-house.webp");
}
// ACCESORIES
.Accessories {
  background-image: url("/img/tesla-accersories.jpg");
}

// FOOTER
footer ul li {
  list-style: none;
  text-decoration: none;
}
