.modelSteve {
  background-image: url("/img/tesla-model-s.jpg");
}

.model-three-features {
  display: inline-flex;
  margin: 0 2rem;
}
.model-three-features h3 {
  font-size: 1.3rem;
}

// MODEL X
.modelx {
  background-image: url("/img/modelX.jpg");
}
