/* SHOP SECTION */
/* (1) shop header section */
#header {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 100vh;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#slideInfo {
  position: relative;
}
.info {
  position: absolute;
  color: #fff;
  text-align: center;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -20%);
}
.info h2 {
  font-size: 2rem;
  font-weight: 600;
}
.info p {
  font-weight: 500;
  margin-bottom: 1rem;
}
/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.manual-btn,
.navigation-auto div {
  border: 2px solid #fff;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}

#shop-bg {
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
#shop-bg h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fff;
}
#shop-bg article button {
  margin-bottom: 5rem;
}
#shop-bg article #white:hover {
  background-color: lightgray;
}
#clothes {
  margin: 0 auto;
}
#clothes article img {
  max-width: 25rem;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
#clothes article {
  text-align: center;
  display: flex;
  justify-content: center;
}
#clothes article div h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
#shopNav {
  height: 4rem;
  z-index: 100;
}
#shopNav article a {
  margin: 10px;
  text-decoration: none;
  color: #fff;
  padding: 5px 8px;
  transition: all 0.3s linear;
  animation: fadeIn 0.3s linear;
}
#shopNav:hover .navLinks {
  color: #000;
}
#shopNav:hover,
#shopNav.active {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.6s;
}
#shopNav.active .navLinks {
  color: #000;
}
// PRODUCTS CAROUSEL STYLES
#products {
  width: 100%;
  height: 90%;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.productsControls {
  position: absolute;
  top: 50%;

  transform: translate(-50%, -50%);
  left: 1%;
  font-size: 2rem;
  padding: 0.5px;
  width: 2.5rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: block;
  left: 3%;
  z-index: 10;
}
#products .productsControls:nth-of-type(2) {
  left: 90vw;
  margin-right: auto;
}
#products .carousel {
  width: 100%;
  height: 500px;

  margin-left: 2rem;
  display: flex;
  gap: 1.5rem;
  justify-content: left;
  align-items: center;
  overflow-x: auto;
}

#products .carousel .fig {
  min-width: 400px;
  height: 400px;
  position: relative;
  left: 0;
  text-align: center;
  padding-top: 30px;
  cursor: pointer;
  animation-duration: 2s;
}
#products .carousel .fig img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.carousel .fig figcaption {
  font-size: 1.3rem;
  margin-top: 1rem;
}
#products .carousel::-webkit-scrollbar {
  visibility: hidden;
}
@media screen and (max-width: 568px) {
  #products .carousel .fig {
    min-width: 200px;
    height: 300px;
  }
}
