/* SHOP SECTION */
/* (1) shop header section */
#header {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 100vh;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#slideInfo {
  position: relative;
}
.info {
  position: absolute;
  color: #fff;
  text-align: center;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -20%);
}
.info h2 {
  font-size: 2rem;
  font-weight: 600;
}
.info p {
  font-weight: 500;
  margin-bottom: 1rem;
}
/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.manual-btn,
.navigation-auto div {
  border: 2px solid #fff;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}

#shop-bg {
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
#shop-bg h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fff;
}
#shop-bg article button {
  margin-bottom: 5rem;
}
#shop-bg article #white:hover {
  background-color: lightgray;
}
#clothes {
  margin: 0 auto;
}
#clothes article img {
  max-width: 25rem;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
#clothes article {
  text-align: center;
  display: flex;
  justify-content: center;
}
#clothes article div h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
#shopNav {
  height: 4rem;
  z-index: 1;
}
#shopNav article a {
  margin: 10px;
  text-decoration: none;
  color: #fff;
  padding: 5px 8px;
  transition: all 0.3s linear;
  animation: fadeIn 0.3s linear;
}
#shopNav:hover .navLinks {
  color: #000;
}
#shopNav:hover,
#shopNav.active {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.6s;
}
#shopNav.active .navLinks {
  color: #000;
}
// PRODUCTS CAROUSEL STYLES
#products {
  width: 100%;
  height: 90%;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

#products .productsControls {
  position: absolute;
  top: 40%;
  font-size: 5rem;
  color: green;
  cursor: pointer;
  left: 2%;
  z-index: 10;
}
#products .productsControls:nth-of-type(2) {
  left: 95%;
  text-align: right;
}
#products .carousel {
  width: 98%;
  height: 500px;
  background: blue;
  margin: 10px auto;
  display: flex;
  gap: 1.5rem;
  justify-content: left;
  overflow-x: auto;
}
// #products .carousel::-webkit-scrollbar {
//   visibility: hidden;
// }
#products::-webkit-scrollbar-track {
  background: #40d3dc;
}

/* Handle */
#products::-webkit-scrollbar-thumb {
  background-color: red;
}

/* Handle on hover */
#products .carousel::-webkit-scrollbar-thumb:hover {
  background: blue;
}
#products .carousel figure {
  min-width: 300px;
  height: 400px;
  position: relative;
  left: 0;
  text-align: center;
  padding-top: 30px;
  transition: 0.5s;
}
#products .carousel figure img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.carousel::-webkit-scrollbar {
  width: 10px;
}

.carousel::-webkit-scrollbar-track {
  background-color: green;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: red;
}
