// SOLAR PANEL SECTION
.solar-Panels {
  background-image: url("/img/tesla-solar-panels.jpg");
}
.solar-Panels-footer-article {
  padding-top: 5rem;
  padding-bottom: 10rem;
}
#solar-footer {
  height: 100vh;
}
