// SIDEBAR
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 400px;
  width: 100%;
  height: 100vh;
  padding-left: 1rem;
  background: #fff;
  overflow-y: scroll;
  transform: translateX(100%);
  transition: all 0.4s linear;
  z-index: 100;
}
.sidebar ul {
  list-style: none;
}
.sidebar ul li {
  margin-bottom: 1.5rem;
  max-width: 250px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 1rem;
  transition: 0.3s ease;
}
.sidebar ul li:hover {
  background: rgba(0, 0, 0, 0.1);
}
.sidebar ul li a {
  text-decoration: none;
  color: #222;
  cursor: pointer;
}
.sidebar.show {
  transform: translateX(0);
}
